.login {
    width: 200px;
}

.singin {
    width: 200px;
}

.btnbox {
    background-color: whitesmoke;
    padding: 2px;

}

.headingHome {
    font-family: "Outfit";
    font-size: 80px;
    font-weight: 700;
    color: whitesmoke;
    text-align: center;
}


